apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "redis-sentinel.fullname" . }}-scripts
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "redis-sentinel.labels" . | nindent 4 }}
data:
  redis_init.sh: |
{{- .Files.Get "scripts/redis_init.sh" | nindent 4}}
  sentinel_init.sh: |
{{- .Files.Get "scripts/sentinel_init.sh" | nindent 4}}

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "redis-sentinel.fullname" . }}-config
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "redis-sentinel.labels" . | nindent 4 }}
data:
  redis.conf: |-
{{ include "redis-sentinel.redis.config" . | indent 4 }}
  sentinel.conf: |-
{{ include "redis-sentinel.sentinel.config" . | indent 4 }}
  REDIS_NODES: "{{ include "redis-sentinel.fullname" . }}-0.{{ include "redis-sentinel.fullname" . }}-headless,{{ include "redis-sentinel.fullname" . }}-1.{{ include "redis-sentinel.fullname" . }}-headless,{{ include "redis-sentinel.fullname" . }}-2.{{ include "redis-sentinel.fullname" . }}-headless"
  SENTINEL_MASTER_NAME: "{{ .Values.sentinel.config.masterName }}"
  SENTINEL_QUORUM: "{{ .Values.sentinel.config.quorum }}"
  SENTINEL_PORT: "{{ .Values.sentinel.config.port }}"
  SENTINEL_DOWN_AFTER_MS: "{{ .Values.sentinel.config.downAfterMilliseconds }}"
  SENTINEL_FAILOVER_TIMEOUT: "{{ .Values.sentinel.config.failoverTimeout }}"
  SENTINEL_PARALLEL_SYNCS: "{{ .Values.sentinel.config.parallelSyncs }}"
  SENTINEL_SERVICE: "{{ include "redis-sentinel.fullname" . }}-sentinel"
  REDIS_SERVICE: "{{ include "redis-sentinel.fullname" . }}-redis"
  REDIS_HEADLESS_SERVICE: "{{ include "redis-sentinel.fullname" . }}-headless"